@model Oficial3.Models.Carro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Carro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Carro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_carro }) |
    @Html.ActionLink("Back to List", "IndexCarro")
</p>
